<form
  class="flex flex-col gap-2"
  [formGroup]="forgotForm"
  (ngSubmit)="onSubmit()"
>
  <div class="bg-gray-400/40 backdrop-blur-md rounded-2xl shadow-2xl p-8 sm:p-12 w-full max-w-md">
      <div class="flex items-center justify-center gap-4 mb-1 -mt-3">
          <h1 class="font-bold text-3xl text-blue-900!">¿Has olvidado tu contraseña?</h1>
      </div>

      <p class="text-1xl text-blue-900!">Necesitamos su dirección de correo electrónico para que pueda acceder a su cuenta, luego le enviaremos un correo de recuperación.</p>

      <p-iconfield class="p-input-icon-left mb-4">
          <p-inputicon class="pi pi-user"></p-inputicon>
          <input type="text" pInputText placeholder="Correo electrónico" class="p-inputtext p-component w-full" formControlName="email">
      </p-iconfield>

      <button
          pButton
          pRipple
          label="Enviar correo de recuperación"
          class="w-full bg-blue-600 text-white font-semibold rounded-xl py-3 shadow-md hover:bg-blue-800 transition duration-300 border border-blue-900"
      >
      </button>


      <span
        class="text-1xl text-gray-900 underline font-bold cursor-pointer block text-center mt-4 mb-4"
        (click)="onForgotPasswordClick()"
      >
        Regresar a inicio de sesión
      </span>

  </div>

</form>


<div style="min-height: 3rem; position: relative;">
  <p-message
      *ngIf="hasError()"
      [life]="3000"
      severity="error"
      icon="pi pi-times-circle"
      styleClass="mb-2 absolute top-0 left-0 w-full"
  >
    Ingrese un correo valido.
  </p-message>
</div>
